
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Fundo claro para o site */
    color: #343a40; /* Cor de texto escura para contraste */
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff; /* Azul que chama atenção para o título */
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007BFF;
}
    
textarea {
        font-size: 14px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
}

#genreSelect {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #007bff; /* Borda azul para combinar com o botão */
    background-color: #ffffff;
    color: #495057;
}

button {
    padding: 10px 20px;
    background-color: #28a745; /* Verde que indica ação */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para o hover */
}

button:hover {
    background-color: #218838; /* Um verde um pouco mais escuro no hover */
}

#movieResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.movie {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidade */
    padding: 15px;
    width: 30%; /* Cada filme ocupa cerca de 30% da largura, com espaçamento */
    margin-top: 20px;
}

.movie img {
    width: 100%; /* Ajusta a imagem para a largura do container do filme */
    border-radius: 10px; /* Arredonda as bordas da imagem */
}

.movie h2 {
    font-size: 18px;
    color: #007bff; /* Título do filme em azul */
    margin-top: 15px;
}

.movie p {
    font-size: 14px;
    color: #6c757d; /* Texto em cinza para descrição */
    margin-top: 10px;
}

.movie .rating {
    font-size: 16px;
    color: #ffc107; /* Avaliação em amarelo para destaque */
}

.movie .duration {
    font-size: 14px;
    color: #28a745; /* Duração em verde, cor de ação */
}

#movieDetails {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#moviePoster {
    max-width: 300px;
    border-radius: 10px;
}
